img {
  width: 200px;
  height: 300px;
  object-fit: cover; }

.card {
  text-align: center; }

#courseCardCont {
  display: flex;
  justify-content: space-between;
  padding: 40px 200px; }

#cardCont {
  display: flex;
  justify-content: space-between; }
